.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5rem;
      padding-inline: 5rem;
      color:white;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
}
ul{
      display: flex;
      justify-content:center;
      align-items: center;
      list-style: none;
      gap: 3rem;
      text-transform: uppercase;
      cursor: pointer;
}
.logo-div{
      display: flex;
      justify-content:center;
      align-items: center;
      font-size: 2rem;
      gap: 1rem;
      font-weight: 600;
}
.navbar .logo-div img{
      width: 2rem;
}
li{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
}
.hover-circle{
      position: absolute;
      padding: .1rem;
      background-color: var(--light-blue);
      opacity: 0;
      border-radius:3rem;
      transition: all .3s ease;
      z-index: -1;
}
li:hover .hover-circle{
      opacity: 1;
      padding: .7rem;
}
Link{
      color: white;
}
.navbar button{
      padding: .5rem 1rem;
      border: none;
      border-radius: 2rem;
      font-size: 1rem;
      cursor: pointer;
      position: relative;
      transition: all .3s ease;
}


a{
      text-decoration: none;
      color: white;
}