/* Desktop Styles */
.conference {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 100px;
    align-self: flex-start;
}

.conference p {
    letter-spacing: 1px;
    padding-bottom: 1rem;
    padding-right: 9rem;
    padding-left: 9rem;
    font-size: 17px;
    margin: 0px;
}

.conference h2 {
    font-size: 30px;
    text-transform: uppercase;
    align-self: flex-start;
    padding-left: 9rem;
    margin-bottom: 0px;
}

.conference-track {
    align-self: flex-start;
    padding-left: 9rem;
}

.conference-track ul {
    list-style: circle;
    color: white;
}

.conference-track li {
    padding-bottom: 5px;
    font-size: 18px;
}

/* Mobile View Styles (Breakpoint: 680px) */
@media (max-width: 680px) {
    .conference {
        margin-top: 20px;
        padding-bottom: 50px;
    }

    .conference h1 {
        letter-spacing: 1px;
        line-height: 1.8rem;
        font-size: 26px;
    }

    .conference p {
        letter-spacing: 1px;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 16px;
        
    }

    .conference h2 {
        font-size: 22px;
        padding-left: 2.5rem;
    }

    .conference-track {
        padding-left: 1rem;
    }

    .conference-track li {
        font-size: 16px;
        list-style: circle;
    }
}
