.schedule-main{
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(to right ,rgba(0,40,80,1) 60%,rgba(0,40,80,.8) ,rgba(0,40,80,.5)),url('../assets/collegeImage.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vh;
    color: white;
}
.schedule-bg{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.event{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    /* height: 10vh; */
    color: white;
    /* padding: 0 0px ; */
    border-radius: 10px;
}
h1 {
    text-align: center;
    align-self: center;
    font-size: 3rem;
    color: white; /* Changed text color to stand out against the dark background */
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.schedule-bg h1{
    padding-top: 30px;
    margin-bottom: 0px;
}
.schedule h2{
    margin: 0px;
    text-align: center;
    align-self: center;
}
.schedule p{
    font-size: 20px;
}
.schedule hr{
    margin: 0px;
}
 button{
    padding: .9rem 1.5rem;
    background-color: transparent;
    color: var(--light-blue);
    border-radius: 3rem;
    border: 1px solid var(--light-blue);
    text-transform: uppercase;
    cursor:  pointer;
    letter-spacing: 1px;
    transition: all .3s ease;
    margin-top: 30px;
    margin-bottom: 20px;
}
button:hover{
    background-color: var(--light-blue);
    color: white;
    border-color: (--light-blue);
}
.contact-info h3{
    text-align: center;
    align-self: center;
    font-size: 15px;
    color: white; /* Changed text color to stand out against the dark background */
    margin: 0px;
    text-transform: uppercase;   
} 
.contact-info span{
    text-align: center;
    align-self: center;
    font-size: 13px;
    color: white; /* Changed text color to stand out against the dark background */
    margin: 0px;
    text-transform: uppercase;
}
.contact-info{
    text-align: center;
}




@media (max-width:680px) {
    .schedule-main{
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(to right ,rgba(0,40,80,1) 60%,rgba(0,40,80,.8) ,rgba(0,40,80,.5)),url('../assets/collegeImage.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 150vh;
    color: white;
}
.schedule-bg{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.event{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    /* height: 10vh; */
    color: white;
    /* padding: 0 0px ; */
    border-radius: 10px;
}
h1 {
    text-align: center;
    align-self: center;
    font-size: 26px;
    color: white; /* Changed text color to stand out against the dark background */
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.schedule-bg h1{
    padding-top: 30px;
    margin-bottom: 0px;
}
.schedule h2{
    margin: 0px;
    text-align: left;
    align-self: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size:22px ;
}
.schedule p{
    letter-spacing: 1px;
    padding: 20px 0px 20px 10px;
    font-size:16px ;
    margin: 0;
    text-align: right;
}
.schedule hr{
    margin: 0px;
}
 button{
    padding: .9rem 1.5rem;
    background-color: transparent;
    color: var(--light-blue);
    border-radius: 3rem;
    border: 1px solid var(--light-blue);
    text-transform: uppercase;
    cursor:  pointer;
    letter-spacing: 1px;
    transition: all .3s ease;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-info h3{
    text-align: center;
    align-self: center;
    font-size: 15px;
    color: white; /* Changed text color to stand out against the dark background */
    margin: 0px;
    text-transform: uppercase;   
} 
.contact-info span{
    text-align: center;
    align-self: center;
    font-size: 13px;
    color: white; /* Changed text color to stand out against the dark background */
    margin: 0px;
    text-transform: uppercase;
}
.contact-info{
    text-align: center;
}
}