.paper-sharing{
    align-items: flex-start !important;
    padding-left: 9rem;
}
.sharing p{
    display: block !important;
}
.sharing a{
    color: white;
}

@media (max-width:680px) {
    .paper-sharing{
        align-items: flex-start !important;
        padding-left: 20px;
    }
    .sharing{
        box-sizing: border-box;
        width: 390px;
        overflow-x: scroll;

    }
    .sharing p{
        display: block !important;
    }
    .sharing a{
        color: white;
    }


}